:root {
  color: #242742;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  object-fit: cover;
  display: flex;
}
h1 {
  margin: 0;
}
html {
  height: 100%;
}
body {
  color: #242742;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 400;
  line-height: 24px;
  background: #36384d;
}
.card {
  display: flex;
  gap: 64px;
  width: 928px;
  height: 641px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;

  padding: 24px;
  padding-left: 64px;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}
.card__next {
  margin-top: 73px;
  width: 376px;
}
.card__text {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.card__next__box {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
}
.card__next__item {
}
form {
  margin-top: 24px;
}
.card__form {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  gap: 10px;
}
.card__next-input {
  appearance: none;
}
.card__next-label {
  cursor: pointer;
}
.card__next-input::before {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  display: inline-block;
  background-color: #ff6155;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  color: #fff;
  content: "";
  font-weight: 900;
}
.card__next-input:checked::before {
  content: "\f00c";
}
.card__email-form {
  margin-top: 40px;
}
.card__email-label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.card__email-input {
  width: 100%;
  height: 56px;
  background-repeat: 8px;
  opacity: 0.5;
  padding-left: 24px;
  border: 1px solid rgba(25, 24, 43, 0.25);
}
.card__email-input:hover {
  border: 1px solid#242742;
  cursor: pointer;
}
.card__name {
  
  padding: 18px 64px;
  color: #fff;
  margin-top: 24px;
  background: #242742;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}
.card__name:hover {
  background: linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%);
  border: none;
  cursor: pointer;
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}
